In [2]:
# adjust the format of the dataset so all datasets are the same
import pandas as pd
import numpy as np

df = pd.read_csv('Unemployment_by_county.csv')


df = df.drop(['Unnamed: 0'], axis=1)


df.head(5)

  State            County       2010  ...      2017      2018      2019
0    SC  Abbeville County  13.791667  ...  4.508333  3.941667  3.225000
1    LA     Acadia Parish   6.841667  ...  5.908333  5.316667  5.133333
2    VA   Accomack County   8.100000  ...  4.500000  3.791667  3.425000
3    ID        Ada County   8.133333  ...  2.783333  2.458333  2.400000
4    OK      Adair County  10.033333  ...  4.708333  3.975000  3.891667

[5 rows x 12 columns]

In [4]:
df2010 = df[['State', 'County', '2010']]
df2011 = df[['State', 'County', '2011']]
df2012 = df[['State', 'County', '2012']]
df2013 = df[['State', 'County', '2013']]
df2014 = df[['State', 'County', '2014']]
df2015 = df[['State', 'County', '2015']]
df2016 = df[['State', 'County', '2016']]
df2017 = df[['State', 'County', '2017']]
df2018 = df[['State', 'County', '2018']]
df2019 = df[['State', 'County', '2019']]

datasets = [df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, ]

In [5]:
for e in range(len(datasets)):
  datasets[e]['Year'] = datasets[e].columns[2]
  datasets[e].columns = ['State', 'County', 'Unemployment', 'Year']

datasets[4].head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  State            County  Unemployment  Year
0    SC  Abbeville County      7.508333  2014
1    LA     Acadia Parish      5.641667  2014
2    VA   Accomack County      6.575000  2014
3    ID        Ada County      3.733333  2014
4    OK      Adair County      7.733333  2014

In [6]:
r = pd.concat(datasets, ignore_index=True)
r.to_csv('Unemployment.csv')

In [23]:
display(r)

      State            County  Unemployment  Year
0        SC  Abbeville County     13.791667  2010
1        LA     Acadia Parish      6.841667  2010
2        VA   Accomack County      8.100000  2010
3        ID        Ada County      8.133333  2010
4        OK      Adair County     10.033333  2010
...     ...               ...           ...   ...
31405    AZ       Yuma County     16.833333  2019
31406    CO       Yuma County      1.541667  2019
31407    TX     Zapata County      5.041667  2019
31408    TX     Zavala County      8.416667  2019
31409    SD    Ziebach County      5.066667  2019

[31410 rows x 4 columns]

In [24]:
# merge datasets for poverty, income and unemployment
povertydf = pd.read_csv('Poverty_median_salary_by_county.csv')
display(povertydf)

       Unnamed: 0 State           County  Poverty_Percent  Median_Income  Year
0               0    AL   Autauga County            11.90        53049.0  2010
1               1    AL   Baldwin County            13.30        47618.0  2010
2               2    AL   Barbour County            25.30        33074.0  2010
3               3    AL      Bibb County            20.90        35472.0  2010
4               4    AL    Blount County            16.50        42906.0  2010
...           ...   ...              ...              ...            ...   ...
31927       31927    WY  Big Horn County            11.05        50081.0  2015
31928       31928    WY    Albany County            20.65        45096.5  2015
31929       31929    WY    Weston County            11.95        56051.0  2015
31930       31930    WY   Laramie County            10.45        59158.0  2015
31931       31931    WY          Wyoming            11.05        59988.5  2015

[31932 rows x 6 columns]

In [25]:
povertydf = povertydf.drop(['Unnamed: 0'], axis=1)
povertydf.head(5)

  State          County  Poverty_Percent  Median_Income  Year
0    AL  Autauga County             11.9        53049.0  2010
1    AL  Baldwin County             13.3        47618.0  2010
2    AL  Barbour County             25.3        33074.0  2010
3    AL     Bibb County             20.9        35472.0  2010
4    AL   Blount County             16.5        42906.0  2010

In [28]:
povertydf.Year = povertydf.Year.astype(int)
r.Year = r.Year.astype(int)

#df1 = pd.concat([povertydf, r], keys=['State', 'County', 'Year'], ignore_index=True)
df1 = pd.merge(povertydf, r)
df1.head(5)

  State          County  Poverty_Percent  Median_Income  Year  Unemployment
0    AL  Autauga County             11.9        53049.0  2010      8.808333
1    AL  Baldwin County             13.3        47618.0  2010      9.900000
2    AL  Barbour County             25.3        33074.0  2010     12.158333
3    AL     Bibb County             20.9        35472.0  2010     11.258333
4    AL   Blount County             16.5        42906.0  2010      9.700000

In [31]:
df1.to_csv('Unemployment_poverty_final.csv')